.active {
    color: $gold;
}
.thumbnail {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 100%;
}
.additional-images {
    margin-bottom: 30px;
}