body {
    background-color: $murk;
    color: $light;
}
.padding-top {
    padding-top: 30px;
}
.padding-bottom_large {
    padding-bottom: 120px;
}
.spacer {
    margin-bottom: 120px;
}
.spacer_small {
    margin-bottom: 60px;
}